Q7_SOAP_Client/src/conf/xml-resources/web-service-references/TemperatureConvertor/wsdl/localhost_8080/Q7_SOAP_Temperature/TemperatureConvertor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="conver_Cel_to_Fere" type="tns:conver_Cel_to_Fere"/>

<xs:element name="conver_Cel_to_FereResponse" type="tns:conver_Cel_to_FereResponse"/>

<xs:element name="convert_Fere_to_Cel" type="tns:convert_Fere_to_Cel"/>

<xs:element name="convert_Fere_to_CelResponse" type="tns:convert_Fere_to_CelResponse"/>

<xs:complexType name="convert_Fere_to_Cel">
<xs:sequence>
<xs:element name="degf" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convert_Fere_to_CelResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conver_Cel_to_Fere">
<xs:sequence>
<xs:element name="degc" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conver_Cel_to_FereResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>